body {
    margin: 0 auto;
    background-color: black;
}
.nav {display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 50px;
    font-family: "Manrope"
}

#logo {
    height: 50px;
    object-fit: contain;
}
.links {height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}
.links a {color: white;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    font-family: Arial;
}
button {
    font-family: "Manrope"
}
.conButton {color: white;
    background-color: black;
    font-size: 16px;
    padding: 15px;
    width: 100%;
    border: solid white;
    border-width: 1px;
    border-radius: 10px;
}
.hero {display: flex;
    justify-content:space-between;
    width: 100%;
    height: fit-content;
    background-color: black;
    padding-bottom: 100px;
}
.heroText {display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    color: white;
    padding-left: 100px;
} 
#heroImage {    
    width: 400px;
    object-fit:contain;
    padding-right: 100px;
}
.workBar {color: white;
    background-color:red;
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
}
.column {display: flex;
    background-color: black;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 20px;
}
.caseCard {display:flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: white;
    width: 75%;
    height: 25%;
    margin: 10px;
    padding: 100px 10px 30px 10px;
    border-radius: 20px;
}
.rightCard {
    flex-direction: row-reverse;
}
.caseText {display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 35%;
    align-items: flex-start;
    padding-left: 40px;
}
.rightText {
    align-items: flex-end;
}
.caseButton {color: white;
    background-color: red;
    font-size: 16px;
    padding: 15px;
    width: fit-content;
    border: solid white;
    border-width: 1px;
    border-radius: 10px;
}
.mockBox {
    width: 50%;
    object-fit: contain;
    padding-bottom: 50px
}
.mockBoxRight {
    width: 50%;
    object-fit: contain;
    padding-left: 100px;
    padding-bottom: 50px;
}
.footer {
    color: white;
    display: flex;
    justify-content:space-between;
    background-color: black;
}
.leftFoot {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
}
.rightFoot {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    margin-right: 20px;
}
a {
    color: red;
    text-decoration: none;
    font-family: "Cormorant";
    font-size: 18px;
}
h1, h2, h3 {
    font-family: "Cormorant"
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 36px;
}
.heroText h2 {
    font-size: 20px;
}
.heroText span {
    font-weight:bold;
}
h3 {
    font-size: 18px;
}